# ECO395M DM&SL Exercise 1
## Spring 2024

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

## 2) Wrangling the Olympics

In [2]:
top20 = pd.read_csv('olympics_top20.csv')

### A)

In [3]:
top20[(top20['sex'] == 'F') & (top20['sport'] == 'Athletics')]\
    [['height']].quantile(0.95)

height    183.0
Name: 0.95, dtype: float64

### B)

In [4]:
top20[top20['sex'] == 'F'].\
    groupby(['event'], as_index=False)\
    [['height']].std().\
    sort_values(['height'], ascending=False).\
    head(1)

                         event    height
84  Rowing Women's Coxed Fours  10.86549